@import 'tailwindcss';

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  .ndb-profex-label {
    @apply text-xs text-gray-500 uppercase tracking-wide;
  }
}

@utility middle-column {
  @apply w-5/6 sm:w-[calc(67%+105px)] md:w-[calc(50%+236px)] max-w-2xl mx-auto;
}

@utility animate-appear-scroll {
  animation-name: appear;
  animation-timeline: scroll();
  animation-timing-function: ease-in-out;
  animation-range: 0 900px;
}

@utility animate-appear {
  animation-name: appear;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@utility animate-moveup {
  animation-name: moveup;
  animation-timeline: scroll();
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@layer utilities {
  :root {
    --foreground-rgb: 15, 15, 15;
    --background-rgb: 255, 255, 255;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
  }
}

@layer utilities {
  h1 {
    @apply text-2xl font-bold mt-12 mb-4 text-center;
  }

  h2 {
    @apply text-xl font-bold mt-8 mb-3 text-center;
  }

  h3 {
    @apply text-lg font-bold mt-6 mb-2 text-center;
  }

  h4 {
    @apply text-base font-bold mt-4 mb-2;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveup {
  0% {
    translate: 0 0;
    scale: 1;
  }
  100% {
    translate: 0 -200%;
    scale: 0.4;
  }
}
